<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907801163275-8kh3bg4nsq2krcu7oncrgeokb15dqs1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907801163275-8kh3bg4nsq2krcu7oncrgeokb15dqs1h</string>
	<key>API_KEY</key>
	<string>AIzaSyBjzolRtDLUonwfOl4EiCRwDYKaKDvK4y8</string>
	<key>GCM_SENDER_ID</key>
	<string>907801163275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victoraugustoas.todoAppList</string>
	<key>PROJECT_ID</key>
	<string>todoapp-474a4</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-474a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907801163275:ios:da2b7e7e0214562412f90e</string>
</dict>
</plist>